<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        State
      </th>
      <th>
        Name
      </th>
      <th>
        Gender
      </th>
      <th>
        Height
      </th>
      <th>
        Weight
      </th>
      <th>
        Positions
      </th>
      <th>
        Jersey
      </th>
      <th>
        Phone
      </th>
      <th>
        Email
      </th>
    </tr>
  </thead>
  <tbody>
    <% @competing_team.travelers.athletes.each do |t| %>
      <tr>
        <td style="white-space: nowrap">
          <%= t.user.dus_id %>
        </td>
        <td>
          <%= t.team.state.abbr %>
        </td>
        <td>
          <%= t.user.basic_name %>
        </td>
        <th>
          <%= t.user.gender %>
        </th>
        <td>
          <%= (a_sport = t.user.athlete.athletes_sports.find_by(sport_id: @competing_team.sport_id))&.height %>
        </td>
        <td>
          <%= a_sport&.weight %>
        </td>
        <td>
          <%= a_sport&.positions_array&.join(', ') %>
        </td>
        <td>
          <%= t.user.uniform_orders.where(sport_id: @competing_team.sport_id).order(:id).pluck(:jersey_number).select(&:present?).first %>
        </td>
        <td style="white-space: nowrap">
          <%= t.user.athlete_and_parent_phones.first %>
        </td>
        <td style="white-space: nowrap">
          <%= t.user.athlete_and_parent_emails.first %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
